body{
    text-align: center;
}

table, th, td{
    border: 1px solid black;
}
/*
The border-collapse property in CSS is used to set the borders of the cell present inside the table and tells whether these cells will share a common border or not.
Evita ese duplicado feo de celdas noventosa
*/
table{
    border-collapse: collapse;
}

th, td{
    padding: 5px 10px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}